<h1> Assesing the data quality </h1>

<h3> Reviews data from Glassdoor </h3>

In [1]:
import pandas as pd

In [7]:
df_reviews = pd.read_csv('glassdoor_reviews.csv')

In [18]:
df_reviews.head()

,Unnamed: 0,column_label,firm,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,...,career_opp,comp_benefits,senior_mgmt,recommend,ceo_approv,outlook,headline,pros,cons,use
0,1,1,Sotheby-s,2021-05-25,Financial Analyst,"Former Employee, more than 1 year","New York, NY",1,1.0,1.0,...,1.0,2.0,1.0,x,r,x,Don't do it,People in leadership roles have been there for...,Pressure to do whatever the leaders want\r\nNo...,NaN
1,2,1,Sotheby-s,2021-05-25,Administrator,Former Employee,Hong Kong,4,4.0,5.0,...,3.0,4.0,4.0,o,o,o,international auction house,"great exposure, respectful environment and bea...",OT during peak seasons and often underpaid,NaN
2,3,1,Sotheby-s,2021-05-24,Client Services Representative,"Former Employee, more than 1 year","London, England, England",4,5.0,4.0,...,5.0,4.0,5.0,v,v,v,"Fast-paced, difficult and rewarding","Good team, support and training",High-stress with relatively low conpensation,NaN
3,4,1,Sotheby-s,2021-05-22,Anonymous Employee,Current Employee,Hong Kong,3,2.0,2.0,...,3.0,2.0,3.0,o,o,o,Review,"Exposure to artworks, great team of specialists","Work life balance, company culture",NaN
4,5,1,Sotheby-s,2021-05-15,Administrator,"Current Employee, less than 1 year","London, England, England",4,4.0,4.0,...,3.0,3.0,3.0,v,r,v,Fun job and nice people but huge workload and ...,"Fantastic art, nice enthusiastic people and a ...",Very low pay and huge workload,NaN

In [17]:
# Checking if any column has missing values
df_reviews.columns[df_reviews.isna().any()].tolist()

['location',
 'work_life_balance',
 'culture_values',
 'diversity_inclusion',
 'career_opp',
 'comp_benefits',
 'senior_mgmt',
 'headline',
 'cons',
 'use']

Since we won't consider those columns into our analysis, no treatment is made. We could remove then or replace them with certain values

In [9]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838566 entries, 0 to 838565
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           838566 non-null  int64
 1   column_label         838566 non-null  int64
 2   firm                 838566 non-null  object
 3   date_review          838566 non-null  object
 4   job_title            838566 non-null  object
 5   current              838566 non-null  object
 6   location             541228 non-null  object
 7   overall_rating       838566 non-null  int64
 8   work_life_balance    688672 non-null  float64
 9   culture_values       647193 non-null  float64
 10  diversity_inclusion  136066 non-null  float64
 11  career_opp           691065 non-null  float64
 12  comp_benefits        688484 non-null  float64
 13  senior_mgmt          682690 non-null  float64
 14  recommend            838566 non-null  object
 15  ceo_approv           838566 non-null  object
 16  outlook              838566 non-null  object
 17  headline             836347 non-null  object
 18  pros                 838566 non-null  object
 19  cons                 838558 non-null  object
 20  use                  0 non-null       float64
dtypes: float64(7), int64(3), object(11)
memory usage: 134.4+ MB

In [10]:
df_reviews.columns

Index(['Unnamed: 0', 'column_label', 'firm', 'date_review', 'job_title',
       'current', 'location', 'overall_rating', 'work_life_balance',
       'culture_values', 'diversity_inclusion', 'career_opp', 'comp_benefits',
       'senior_mgmt', 'recommend', 'ceo_approv', 'outlook', 'headline', 'pros',
       'cons', 'use'],
      dtype='object')

In [19]:
list(df_reviews['job_title'].unique())[:20]

[' Financial Analyst',
 ' Administrator',
 ' Client Services Representative',
 ' Anonymous Employee',
 ' Administration',
 ' Summer Intern',
 ' Staff',
 ' Exhibition Assistant',
 ' Business Analyst',
 ' Floater',
 ' Graphic Designer',
 ' In House Picture Framer',
 ' Researcher',
 ' Fine Art Specialist',
 ' Special Events Manager',
 ' Department Assistant',
 ' Data Analyst',
 ' Project Administrator',
 ' Specialist',
 ' Teacher']

From the previous cell, we can see that there are multiple categories for jobs, and that the titles need trimming to have consistent names. 
Also that there is no consistency between names which is an indicator that we may need to capitalize each word for the names

In [12]:
sorted(df_reviews['firm'].unique())

['AFH-Wealth-Management',
 'AJ-Bell',
 'ALDI',
 'AQA',
 'ASDA',
 'ASOS',
 'AXA-UK',
 'Abcam',
 'Abertawe-Bro-Morgannwg-University-Health-Board',
 'Accenture',
 'Accor',
 'Achieving-for-Children',
 'ActionCOACH',
 'Active-Care-Group',
 'Adecco',
 'Age-UK-The-National-Charity',
 'AlixPartners',
 'American-Express',
 'Amey',
 'Angard-Staffing',
 'Anglian-Water',
 'Anglo-American',
 'Animal-and-Plant-Health-Agency',
 'Aon',
 'Apple',
 'Arcadia',
 'Arnold-Clark',
 'AstraZeneca',
 'Aviva',
 'B-and-M-Retail',
 'B-and-Q',
 'BAT',
 'BBC',
 'BDO',
 'BHS',
 'BIS',
 'BNP-Paribas',
 'BNY-Mellon',
 'BP',
 'BPP-Holdings',
 'BT',
 'Babcock-International-Group',
 'Babylon-Health',
 'Bain-and-Company',
 'Balfour-Beatty',
 'Bannatyne-Group',
 'Barchester-Healthcare',
 'Barclays',
 'Barnardo-s',
 'Barnet-and-Chase-Farm-Hospitals-NHS-Trust',
 'Barnett-Waddingham',
 'Barratt-Developments',
 'Barts-Health-NHS-Trust',
 'BayWa-r-e-renewable-energy',
 'Bayer',
 'Best-Western',
 'Betsi-Cadwaladr-University-Health-Board',
 'Bill-and-Melinda-Gates-Foundation',
 'Birkbeck-College',
 'Birmingham-City-University',
 'Bloomberg-L-P',
 'Blue-Arrow',
 'Blue-Yonder',
 'Booking-com',
 'Boots',
 'Boots-Opticians',
 'Boston-Consulting-Group',
 'Brewin-Dolphin',
 'British-Airways',
 'British-Red-Cross',
 'Brook-Street',
 'Bullhorn',
 'Bupa',
 'Burberry',
 'CBRE',
 'CVS-Group',
 'Cambridge-Assessment',
 'Capita',
 'Capital-Group',
 'CarShop-UK',
 'Cardiff-University',
 'Care-UK',
 'Career-Legal',
 'Christie-s',
 'Cisco-Systems',
 'Citi',
 'Citizens-Advice',
 'CityFibre',
 'Civil-Service-United-Kingdom',
 'Co-op',
 'Colosseum-Dental',
 'Colt-Technology-Services',
 'Communities-and-Local-Government',
 'Companies-House',
 'Compass-Group',
 'Cougar-Mountain',
 'Countrywide-plc',
 'Covea-Insurance',
 'Coventry-University',
 'Creative-Support',
 'Cromwell-Tools',
 'Crown-Prosecution-Service',
 'Crowne-Plaza-Hotels-and-Resorts',
 'Curtis-Banks',
 'Cushman-and-Wakefield',
 'Cygnet-Health-Care',
 'DFID',
 'DFS-Furniture',
 'DHL-Supply-Chain',
 'DPDgroup',
 'DWF',
 'Dalata-Hotel-Group',
 'David-Lloyd-Leisure',
 'Debenhams',
 'Deloitte',
 'Department-for-Work-And-Pensions',
 'Department-of-Health-UK',
 'Deutsche-Bank',
 'Diageo',
 'Diligenta',
 'Dixons-Carphone',
 'Doubletree-By-Hilton',
 'Durham-County-Council',
 'Dynatrace',
 'EBRD',
 'ENABLE-Scotland',
 'ENGIE',
 'EY',
 'East-Sussex-County-Council',
 'Egon-Zehnder',
 'Engineering-and-Physical-Sciences-Research-Council',
 'Equiniti',
 'Eversheds-Sutherland',
 'Everyone-Active',
 'FARFETCH',
 'FYXER',
 'Facebook',
 'FirstPort',
 'Foreign-and-Commonwealth-Office',
 'Four-Seasons-Health-Care',
 'Foxtons',
 'Freshfields-Bruckhaus-Deringer',
 'GLL',
 'GTR-Govia-Thameslink-Railway',
 'Gateley',
 'Gi-Group',
 'GlaxoSmithKline',
 'Goldman-Sachs',
 'Google',
 'Grange-Hotels',
 'Grant-Thornton',
 'Grant-Thornton-UK-LLP',
 'Grosvenor-Casinos',
 'Guardian-News-and-Media',
 'Guy-s-and-St-Thomas-NHS-Foundation-Trust',
 'Gymbox',
 'H-and-M',
 'HC-One',
 'HM-Courts-and-Tribunals-Service',
 'HM-Prison-Service',
 'HM-Treasury',
 'HMCTS',
 'HSBC-Holdings',
 'Hampshire-County-Council',
 'Harris-Federation',
 'Harrods',
 'Harvey-Nichols',
 'Hastings-Direct',
 'Hays',
 'Health-Education-England',
 'Health-Protection-Agency',
 'Her-Majesty-s-Revenue-and-Customs',
 'Hilton',
 'Hitachi-Capital-UK',
 'Holiday-Inn',
 'Holiday-Inn-Express',
 'Home-Group',
 'Home-Office',
 'Hyatt',
 'IBM',
 'IHG-Hotels-and-Resorts',
 'ISS-Facility-Services',
 'Immediate-Media-Company',
 'Imperial-College-London',
 'Indeed',
 'Intelligent-Office-UK',
 'Interserve',
 'Iron-Mountain-Inc',
 'Irwin-Mitchell',
 'J-P-Morgan',
 'J-Sainsbury',
 'JLL',
 'JLT-Group',
 'JP-Boden-and-Co',
 'Jaguar-Land-Rover',
 'James-Hay-Partnership',
 'John-Lewis-and-Partners',
 'Jurys-Inns',
 'KKR',
 'KPMG',
 'Kent-County-Council',
 'Kier-Group',
 'King-s-College-London',
 'Kingsley-Healthcare',
 'Knight-Frank',
 'Korn-Ferry',
 'Kurt-Geiger',
 'LGT-Group',
 'LSE',
 'LV',
 'Lancaster-University',
 'Latham-and-Watkins',
 'Leaders-Romans-Group',
 'Leeds-City-Council',
 'Legal-and-General',
 'Leonardo-Hotels',
 'Lidl',
 'Link-Group',
 'LinkedIn',
 'Lloyds-Banking-Group',
 'London-Underground',
 'Loughborough-University',
 'Macdonald-Hotels-and-Resorts',
 'Malmaison',
 'Manchester-Metropolitan-University',
 'Manpower',
 'Marks-and-Spencer',
 'Marriott-International',
 'Mastercard',
 'McDonald-s',
 'McKinsey-and-Company',
 'Mears',
 'Mercer',
 'Met-Office',
 'Metro-Bank',
 'Michelmores',
 'Microsoft',
 'Ministry-of-Justice-UK',
 'Missguided',
 'Mitie',
 'Moneypenny',
 'Morgan-Stanley',
 'Morrisons',
 'Mountain-Warehouse',
 'MyCSP',
 'NHS',
 'NHS-England',
 'NHS-Professionals',
 'NPSA',
 'Nando-s-UK-and-IRE',
 'National-Institute-for-Health-and-Care-Excellence',
 'National-Offender-Management-Service',
 'National-Star',
 'Nationwide-Building-Society',
 'Network-Rail',
 'New-Look',
 'Newcastle-Upon-Tyne-Hospitals-NHS',
 'North-Yorkshire-County-Council',
 'Northern-Gas-and-Power',
 'Northern-Ireland-Civil-Service',
 'Novotel-Hotels',
 'Nuffield-Health',
 'Odgers-Berndtson',
 'Office-Angels',
 'Office-Concierge',
 'Office-for-National-Statistics',
 'Office-of-Rail-Regulation',
 'Oliver-Bonas',
 'Oliver-Wyman',
 'Oracle',
 'Orbit-Group',
 'Ordnance-Survey',
 'Oxford-University',
 'Oxford-University-Press',
 'Pearson',
 'Penderels-Trust',
 'Penguin-Random-House',
 'People-Group',
 'Pertemps',
 'Pizza-Hut',
 'Portico',
 'Post-Office',
 'Premier-Inn',
 'Primark',
 'Priory-Group',
 'Public-Health-England',
 'PwC',
 'Queen-s-University-Belfast',
 'REED',
 'RSM',
 'RWE-Supply-and-Trading',
 'Radisson-Hotel-Group',
 'Randstad',
 'Rapport-London',
 'Rathbone-Brothers',
 'Reassured',
 'Rendall-and-Rittner',
 'Rentokil-Initial',
 'River-Island-Clothing',
 'Robert-Walters',
 'Roche',
 'Rodericks-Dental',
 'Royal-Mail',
 'Rural-Payments-Agency',
 'Ryan-LLC',
 'SAP',
 'SSE',
 'Sage',
 'Sainsbury-s',
 'Salesforce',
 'Sanctuary-Group',
 'Santander',
 'Savills',
 'ScS-Sofas',
 'Scottish-Courts-and-Tribunals-Service',
 'Scottish-Government',
 'Scottish-Widows',
 'Search-Consultancy',
 'Serco-Group',
 'Skipton-Building-Society',
 'Sky',
 'Sodexo',
 'Somerset-County-Council',
 'Somerset-Partnership-NHS-Foundation-Trust',
 'Sotheby-s',
 'Southern-Health-and-Social-Care-Trust',
 'Specsavers',
 'Spire-Healthcare',
 'Sport-England',
 'Square-Enix',
 'St-James-s-Place-Wealth-Management',
 'Standard-Life-Aberdeen',
 'Student-Loans-Company',
 'Surrey-County-Council',
 'Sytner',
 'TLT',
 'TUI-Group',
 'Tate',
 'Tate-Recruitment',
 'Taylor-Wimpey',
 'Tengizchevroil',
 'Tesco',
 'The-Access-Group-UK',
 'The-British-Army',
 'The-Church-of-Jesus-Christ-of-Latter-day-Saints',
 'The-Coal-Authority',
 'The-Department-for-Education-UK',
 'The-Ivy-Collection',
 'The-London-Clinic',
 'The-National-Gallery',
 'The-Open-University',
 'The-Range',
 'The-Royal-Marsden-NHS-Foundation-Trust',
 'The-Salvation-Army',
 'The-Survey-Association',
 'The-White-Company',
 'Thomas-Cook',
 'Thomson-Reuters',
 'Time-Etc',
 'Topshop',
 'Tower-Hamlets-Council',
 'Transport-for-London',
 'Travelodge-Hotels-UK',
 'UHMBT',
 'UK-Atomic-Energy-Authority',
 'UK-Border-Agency',
 'UK-Ministry-of-Defence',
 'UKCIL',
 'Unilever',
 'United-Utilities',
 'Unity-Technologies',
 'University-College-London',
 'University-College-London-Hospitals',
 'University-Hospitals-of-Leicester',
 'University-of-Bath',
 'University-of-Birmingham',
 'University-of-Bradford',
 'University-of-Bristol',
 'University-of-Cambridge',
 'University-of-Durham',
 'University-of-Edinburgh',
 'University-of-Glasgow',
 'University-of-Huddersfield',
 'University-of-Hull',
 'University-of-Leeds',
 'University-of-Leicester',
 'University-of-Liverpool',
 'University-of-Manchester',
 'University-of-Michigan',
 'University-of-Newcastle-UK',
 'University-of-Nottingham',
 'University-of-Reading',
 'University-of-Sheffield',
 'University-of-Southampton',
 'University-of-Strathclyde',
 'University-of-Warwick',
 'University-of-York',
 'University-of-the-Arts-London',
 'University-of-the-West-of-England',
 'VMware',
 'Valuation-Office-Agency',
 'Veolia',
 'Vets-Now',
 'Vets4Pets',
 'Virgin-Active',
 'Virgin-Media',
 'Vodafone',
 'WHSmith',
 'WLT-Group',
 'Waitrose',
 'Wakefield-Council',
 'Wellington-Management',
 'West-Sussex-County-Council',
 'Western-Health-and-Social-Care-Trust',
 'Whitbread',
 'Willis-Towers-Watson',
 'Willmott-Dixon',
 'Wipro',
 'Wise',
 'Workday',
 'XPO-Logistics',
 'XPS-Pensions-Group',
 'YOOX-NET-A-PORTER-GROUP',
 'i-Net-Solution',
 'ibis',
 'mydentist-UK',
 'next',
 'the-LEGO-Group']

We can see that the company names have a hyphen character instead a space character. Some companies such as "McDonald's" are written as "McDonald-s", meaning we have a special case when the company ends with "-s"

In [20]:
df_companies = pd.read_csv('Forbes Top2000 2017.csv')

In [21]:
df_companies.head()

,Unnamed: 0,Rank,Company,Country,Sales,Profits,Assets,Market Value,Sector,Industry
0,NaN,1,ICBC,China,151.4,42.0,3473.2,229.8,Financials,Major Banks
1,NaN,2,China Construction Bank,China,134.2,35.0,3016.6,200.5,Financials,Regional Banks
2,NaN,3,Berkshire Hathaway,United States,222.9,24.1,620.9,409.9,Financials,Investment Services
3,NaN,4,JPMorgan Chase,United States,102.5,24.2,2513.0,306.6,Financials,Major Banks
4,NaN,5,Wells Fargo,United States,97.6,21.9,1943.4,274.4,Financials,Major Banks

In [23]:
df_companies.columns[df_companies.isna().any()].tolist()

['Unnamed: 0', 'Sector', 'Industry']

In [28]:
df_companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    0 non-null      float64
 1    Rank         2000 non-null   int64
 2   Company       2000 non-null   object
 3   Country       2000 non-null   object
 4   Sales         2000 non-null   float64
 5   Profits       2000 non-null   float64
 6   Assets        2000 non-null   float64
 7   Market Value  2000 non-null   float64
 8   Sector        1803 non-null   object
 9   Industry      1509 non-null   object
dtypes: float64(5), int64(1), object(4)
memory usage: 156.4+ KB